#NavBar {
  background-color: #024731;
}

.bowbites-background-image {
  background: url('images/bowbites-background.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.middle-background {
  background-color: white;
}

#vendor-profile-picture {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#vendor-profile-left-col {
  foreground-color: white;
}

#user-profile-pageEmpty {
  foreground-color: white;
  background-color: white;
  padding: 100px;
  border-radius: 25px;
}

#vendor-profile {
  padding-top: 20px;
}

#venPInfo {
  padding-bottom: 20px;
}

#available-nowEmpty {
  padding-top: 20px;
}

#edit-list-vendor-page {
  padding-top : 20px;
}

#list-vendor-page {
  padding-top : 20px;
}

#public-list-vendor-page {
  padding-top : 20px;
}

#admin-list-vendor-page {
  padding-top : 20px;
}

hr.new {
  border: 5px solid #024731;
  border-radius: 0px;
}