#NavBar {
  background-color: #024731;
}

.bowbites-background-image {
  background: url('images/bowbites-background.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.middle-background {
  background-color: white;
}

#vendor-profile-picture {
  display: flex;
  justify-content: center;
}

#vendor-profile-left-col {
  foreground-color: white;
}